.a1{
    position: absolute;
    top: 100px;
    left: 500px;
    height:600px;
    width:450px;
    border:5px solid gray;
    /* text-align: center; */
    border-radius:25px;
    box-shadow: 3px 6px 20px rgb(100, 237, 237);
    /* background-image:url('');
    background-repeat: no-repeat;
     background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMw_DHClY-T_n9K8kNjsQpNp8xZ1SUMTXXoSMbL_7HqElJlMiIv9k-8IjK5U8HYRB-doM&usqp=CAU');
    background-repeat: no-repeat;
    /* height: 100%;
    width: 100%; 
    background-size:100%;
    background-blend-mode: lighten;
    /* background-color:rgb(241, 86, 203); */
}
#a1, #a2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.a2 #a1 {
    color: #ffffff;
}
body{
    /* background-color: rgb(47, 39, 39); */
    background-color: #0c0016;
}
.a2{
    position: relative;
    left: 10px;
    margin:5px;
    padding: 0;
}
.a3{
    height:50px;
    width: 350px;
    border-radius: 20px;
    font-size:20px;
    background-color:rgb(204, 193, 193);
}
#a3 {
    background: linear-gradient(90deg, #ff0077, #9b00e8);
}
.a4{
    margin: 30px;
    margin-left: 45px;
}
.a5{
    position: relative;
    top:10px;
    left:20px;
}
.a5 p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #ffffff;
    padding-left: 80px;
}
.a5 p a{
    text-decoration: none;
    color: #9120b7;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.a6{
    position: relative;
    left: 150px;
}
.a6 a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.a7{
    position: relative;
    top:20px;
    left: 20px;
}
#a1{
    font-size:40px;
    margin: 0;
    padding: 0;
    color:orangered;
}
#a2{
    color:rgb(243, 81, 108);
    font-size: 50px;
    margin: 0;
    padding: 0;
}
#a3{
    background-color: rgb(231, 138, 231);
}
#a3:hover{
    background-color: rgb(186, 95, 186);
}
/* Admin login */
.ad1{
    position: absolute;
    top: 100px;
    left: 500px;
    height:650px;
    width:450px;
    border:5px solid gray;
    /* text-align: center; */
    border-radius:25px;
    box-shadow: 9px 9px 50px rgb(100, 237, 237);
}